/*===================================================================================*/
/*  HEADER--->TOP_HEADER
/*===================================================================================*/
/*fuente top header*/
#top_header a, #top_header p ,#top_header span{
    color:white;/*BLANCO*/
    line-height: 20px;
    text-shadow: 1px 1px 0px #000000;
    margin:0px;
}

/*fuente link:hover,active,focus*/
#top_header a:hover .top_links, #top_header a:hover .icon_top_links,
#top_header a:active .top_links, #top_header a:active .icon_top_links,
#top_header a:focus .top_links, #top_header a:focus .icon_top_links{
    color:#333333;/*GRIS OSCURO*/
    text-shadow: none;
}

/*fondo top header*/
#top_header {
    background-color: #428bca;/*AZUL TEMA 2*/
}
#top_header .lista_top_header{
    padding: 0;
}
/*links top header derecha <li> --LVL 1-- y <li> --LVL 2--sin padding y aliniado centro todos excepto !LG*/
#top_header ul.lista_top_header li ,#top_header ul.lista_top_header a > ul > li{
    text-align: center;
    padding: 0px;
}
/*===================================================================================*/
/*  HEADER--->MAIN_HEADER
/*===================================================================================*/
/*fuente MI CUENTA Y CARRO*/
#main_header #mini_menu li>a:first-child{
    font:bold 18px/18px Lato_Bold;
    color:#096eb7;/*AZUL PRINCIPAL*/
    text-transform: uppercase;
}

/*fuente link:hover*/
#main_header #mini_menu > li > a:hover,
#main_header #mini_menu > li > a:active{
    color:#333333 !important;/*GRIS OSCURO*/
}

/*margen superior inferior parte central menu  normalmente 18px a partir de SMALL 30px*/
#main_header{
    padding: 14px 0px 8px 0px;/*pantalla XS  padding para pintar background-color*/
    background-color:white;/*BLANCO*/
}

/*ancho titulo web normalmente en centro excepto a partir de SMALL que ira a izquierda*/
#main_header_logo{
    text-align: center;
}
/*conjunto logo elecvalles.com*/
#main_header_logo img{
    float: none;
}

/*logo elecvalles.com*/
#main_header_logo img.logo{
    height:70px;
}

/*letras logo elecvalles.com*/
#main_header_logo img.letras{
    height:40px;
}


/*titulo web*/
#main_header_logo h1{
    font:normal 36px/46px Exo_Medium;
    margin:0px;
    line-height: 70px;
    display: inline-block;
    float: none;
}

/*imagen carro derecha*/
#mini_menu img.carrito_img {
    width: 60px;
}

/*redonda contador productos*/
.basket_item_count{
    position: absolute;
    font:bold 14px/18px My_Open_Sans;
    text-align: left;
    padding-left: 0px;
    padding-top: 1px;
    background: #f1c40f none repeat scroll 0 0;/*AMARILLO*/
    color:white;/*BLANCO*/
    border-radius: 20px;
    height: 20px;
    width: 20px;
    top: 0px;
}

/*parte drecha main_header (MI CUENTA,CARRITO, IMG CARRITO) aliniado a derecha
 normalmente en centro excepto a partir de SMALL que ira a derecha*/
#mini_menu{
    margin-bottom: 0;
    padding-top: 18px;
    text-align: center;
}

/*elementos lista mini-menu*/
#mini_menu li{
    padding: 0;
    line-height: 60px;
}

/*cuando hacemos hover sobre link carrito e imagen muestra dropdown
#mini_menu li:nth-child(2)> a:hover + #carro_caja {
        display: block;
}*/

/*menu desplegable mini-menu*/
.dropdown_cart_menu{
    background: white none repeat scroll 0 0;/*BLANCO*/
    border-top: 3px solid #f5565b;/*ROJO */
    margin-top: 0px;
    min-width: 300px;
    padding: 0;
}
/*resultados carro*/
#carro_resultados .top-cart-title:first-child {
    border-bottom: 1px solid #f5f5f5;
}
/*titulo resultados carro*/
#carro_resultados .top-cart-title h4 {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    padding: 10px 0px;
    margin:0px;
}
/*items resultados carro*/
#carro_resultados .top-cart-items {
    padding: 15px;
    overflow: hidden;    
}
/*items resultados carro*/
#carro_resultados .overflowTopCartItems  {
    height: 300px;
    overflow-y: scroll;
}
/*elementos que se van a単adiendo al menu flotante de carro compra*/
#carro_resultados  .cartItem{
    padding: 10px 0px;  
    border-bottom: 1px solid #eee;
}
#carro_resultados  .cartItem:last-child{
    padding: 10px 0px;  
    border-bottom: none;
}
/*imagen item resultados carro*/
#carro_resultados .top-cart-item-image {
    border: 2px solid #eee;
    height: 52px;
    transition: border-color 0.2s linear 0s;
    width: 52px;
}
/*imagen item resultados carro*/
#carro_resultados .top-cart-item-image img{
    width: 48px;
    height: 48px;
}
/*top-cart-item-desc*/
.paddinglateral{
    padding:0px 6px 0px 0px;
}

#carro_resultados {
    line-height: 20px;
}

#carro_resultados a.top-cart-item-desc  {
    font-size: 13px ;
    font-weight: 600;
    text-align: left ;
    width: auto ;
    color:#333333;/*GRIS OSCURO*/
}

/*cantidad resultados carro X1...*/
#carro_resultados  span.top-cart-item-quantity {
    /*color: #333; BOOTSTRAP SERIE FOR CHANGE*/
    white-space: nowrap;
}

/*borrar item carro (basura)*/
#carro_resultados  a.remove-item {
    color:#333333;/*GRIS OSCURO*/
}
/*borrar item carro (basura)*/
#carro_resultados  a.remove-item:hover{
    color: #f44c4c !important; /*ROJO*/
}
/*precio item resultado*/
#carro_resultados span.top-cart-item-price {
    color: #898989 ;/*GRIS CLARO*/
}
/*cantidad item resultado*/

/*parte accion boton resultados carro*/
#carro_resultados .top-cart-action {
    border-top: 1px solid #eee;
    padding: 15px;
}
#carro_resultados .top-checkout-price{
    font-size: 20px;
    font-weight: 900;
    color:#333333;/*GRIS OSCURO*/
    float: left;
}
.closeCruz{
    float:right;
    font-size: 12px;

}
/*===================================================================================*/
/*  HEADER--->FOOTER_HEADER---BARRA NAVEGACION---
/*===================================================================================*/
/*LEVEL 1*/
/*contenedor footer_header*/
#footer_header nav{
    background: rgba(66, 139, 202,1) none repeat scroll 0 0; /*AZUL TEMA 2*/
}

/*link barra de menu activa*/
#navegador #menu .navbar-nav > .active > a {
    background-color: rgba(9, 110, 183,1); /*AZUL PRINCIPAL 1*/
}

/*link barra de menu abierta o hover*/
#navegador #menu .navbar-nav > .open > a , #menu .navbar-nav > li > a:hover{
    background-color: rgba(9, 110, 183,0.6); /*AZUL PRINCIPAL 0.6*/
    display:block;
}

/*fuente LVL-1- (PRODUCTOS, OFERTAS, SERVICIOS, NOTICIAS)*/
#navegador #menu ul.navbar-nav > li > a{
    font:normal 18px/18px Lato_Black;
    color:white;/*BLANCO*/
    text-shadow: 1px 1px 0px #000000;
}

#navegador #menu ul.navbar-nav > li > a:hover ,#navegador #menu ul.navbar-nav > li > a:active{
    color: white !important;/*BLANCO*/
}

/*texto MENU cuando entramos en XS fuente navbar-header en modo XS*/
#navegador .navbar-header a{
    font:normal 22px/22px Lato_Black;
    text-transform: uppercase;
    color:white;/*BLANCO*/
}
/*margen entre texto i flechita mira hacia abajo*/
.hvr-icon-down{
    margin-left: 15px;
}

/*LEVEL 2*/
/*dropdwon mostrandose <li> ancho maximo*/

/*fuente LVL-2-*/
#menu .links a{
    font:normal 14px/14px Lato_Regular;
    color:#333333;/*GRIS OSCURO*/
    text-decoration: none;
}

/*fuente LVL-2-*/
#menu .links >li > span{
    float:right;
    margin: 0 0 0 26px;
}
/*hvr-icon-forward flechitas dentro de dropdown menu lista elementos*/
#menu .links span{
    margin-right: 5px;
}

/*margen links dentro del menu desplegable*/
#menu .links li{
    margin:5px 0px;
}
/*margen links dentro del menu desplegable los ultimos*/
#menu .links li:last-child{
    margin-bottom: 0px;
}

/*ancho total columna parte derecha inputs*/
#menu .col_ancho_total{
    width: 100%;
    width: -moz-available;          /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
}

/*quita padding por defecto a dropdown-menu*/
#menu ul.dropdown-menu{
    background-color:white;/*BLANCO*/
    padding: 0px;
}
/*posicion relativa o absoluta segun tama単o de los selects menu dropdown-menu*/
#menu #select_1+ul.dropdown-menu ,#menu #select_2+ul.dropdown-menu{
    position: relative;
    text-align: center;
    width: inherit;
}

/*si es mas peque単o que small 767px padding de dropdown-menu*/
.padding_dropdown_RS_XS{
    padding: 10px 15px;
}
/*En carro_caja contenedor cruz para cerrar ventana*/
.wrpCloseCross{
    position: absolute;
    right: 0;
    top: 0;
}

.wrpCloseCross span.closeCross{
    font-size: 16px;
    line-height: 36px; /*suma de .top-cart-title h4 line-height=16px+padding=10 */
    color:#898989; /*GRIS CLARO*/
    padding-right:10px;
}
.wrpCloseCross span.closeCross:hover{
    color:#096eb7;/*AZUL PRINCIPAL*/
    cursor: pointer;
}



/*<><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><>*/
/*  RESPONSIVE
/*<><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><>*/
/* Super Extra small(SXS) devices 0-->275*/
@media (max-width:275px){
    /*========================*/
    /*  HEADER--->TOP_HEADER
    /*========================*/
    /*oculta icono carro */
    .hidden_sxs{
        display: none !important;
    }
    /*cuando es SXS pasamos a line height 18 porque no ahy imagen carro*/
    #mini_menu li{
        line-height: 18px;
    }
}

/* Extra small(XS) devices 276-->767*/
@media (min-width:276px) {
    /*========================*/
    /*  HEADER--->MAIN_HEADER
    /*========================*/
    /*recupera line-height en modo XS titulo web*/
    #main_header_logo {
        font:normal 36px/70px Exo_Medium;
    }

    /*imagen carro*/
    #mini_menu img.carrito_img{
        float: none;
    }
    /*redonda contador carro*/
    .basket_item_count{
        right:38%;
    }

    /*quita padding elementos del form del menu*/
    #menu .row form{
        padding:10px 15px;
    }

    .sin_padding_RS_LG{
        padding: 0px 15px;
    }
    /*arregla bordes botones dispositivos SM en adeleante*/
    #inp_buscar,#select_1, #select_2,#btn_buscar{
        border-radius: 4px;
    }
}

/* Small devices (SM) 768-->991*/
@media (min-width:768px){
    /*========================*/
    /*  HEADER--->MAIN_HEADER
    /*========================*/
    /*margen entre main header 10 inferior pk ja tiene 20 de imagen carro */

    /*conjunto logo elecvalles.com*/
    #main_header_logo img{
        float:left;
    }
    /*logo elecvalles.com*/
    #main_header_logo img.logo{
        height:70px;
    }

    /*letras logo elecvalles.com*/
    #main_header_logo img.letras{
        height:40px;
        margin:15px 0px 0px 15px;
    }

    /*titulo elecvalles.com flotante izquierda*/
    #main_header_logo h1{
        margin-left: 20px;
        float: left;
    }

    /*parte drecha main_header (MI CUENTA,CARRITO, IMG CARRITO) aliniado a derecha*/
    #mini_menu{
        text-align: right;
        margin-bottom: 0;
        padding-top: 9px;
        /*overflow: hidden;*/
    }

    /*redonda contador carro*/
    .basket_item_count{
        right:23%;
    }
    /*posicion relativa o absoluta segun tama単o de los selects menu dropdown-menu*/
    #menu #select_1+ul.dropdown-menu ,#menu #select_2+ul.dropdown-menu{
        position: absolute;
        text-align: left;
    }
    /*========================*/
    /*  HEADER--->FOOTER_HEADER
    /*========================*/
    /*quita padding elementos barra menu*/
    .sin_padding_RS_LG{
        padding-left: 0;
        padding-right: 0;
    }
    /*quita padding elementos del form del menu*/
    #menu .row form{
        padding:0;
    }
    /*arregla bordes botones dispositivos SM en adeleante*/
    #inp_buscar{
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    /*arregla bordes botones dispositivos SM en adeleante*/
    #select_1, #select_2{
        border-radius: 0;
    }
    /*arregla bordes botones dispositivos SM en adeleante*/
    #btn_buscar{
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-color: transparent;
    }

    /*si es mas grande que small 767px padding de dropdown-menu*/
    .padding_dropdown_RS_XS{
        padding: 20px 30px;
    }

    /*evita que el container del submenu sea de 1170px sale de pantalla*/
    .Container_SM{
        width:370px;
    }
    /*ERROR*/
    /*	#menu .ancho_max_RS_MD {
                    width: -moz-max-content;
                    width: -webkit-max-content;
                    width: max-content;		
            }*/
}

/* Medium devices to Large (MD) 991-->1200*/
@media (min-width:992px) {
    /*========================*/
    /*  HEADER--->MAIN_HEADER
    /*========================*/
    /*redonda contador carro*/
    .basket_item_count{
        right:31%;
    }
    .Container_SM{
        width:996px;
    }


}

/*  Large devices (LG) 1200-->X*/
@media (min-width:1200px){
    /*========================*/
    /*  HEADER--->MAIN_HEADER
    /*========================*/
    /*redonda contador carro*/
    .basket_item_count{
        right:26%;
    }
    /*========================*/
    /*  HEADER--->FOOTER_HEADER
    /*========================*/
    /*si LG barra de busqueda a derecha*/
    #menu .navbar_right_RS_LG{
        float:right;
    }
    /*ancho total columna parte derecha inputs*/
    #menu #select_1.col_ancho_total, #menu #select_2.col_ancho_total{
        /*		width: 115px;*/
    }

}

